/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 97, 158, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    border-radius: 10%; /* Make it round */
    width: 90%;
    max-width: 500px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Styles for the chrome-like header */
.chrome-header {
    background-color: #f0f0f0; /* Chrome-like color */
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chrome-header h1 {
    margin: 0;
    color: #666;
}

.chrome-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.chrome-header nav li {
    margin-right: 20px;
}

.chrome-header nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.chrome-header nav a:hover {
    color: #555;
}
